.myFriends
{
     background-color:#000000;
    }

.pTitle
{
    color:Black;
    font-size: 1.5em;
    }
    
 .pContent
  {
    color: #666666;
    font-size: 1.3em;
    }
    
.alink
{
    cursor:pointer;
    color:Blue;
    }
   
.btnDelFriends
{
    color:White;
    font-size:1.em;
    background-color:#8e0000;
    width:45px;
    height:25px;
    }
    
 #pAddFriends
 {
     position: absolute;
     left:400px;
     }
     
#btnAddFriends
{ 
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color:#8e0000;
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
    }     

#txtFriendsName
{
     background-color:#FFFFFF;
     border:1px solid blue;
    }
    
#txtFriendsName:focus{
     transition:border linear .2s,box-shadow linear .3s;
     box-shadow:0 0 8px blue;
}    

.trFriends
{
    height:10px;
    }
.tdFriends
{
    font-size: large;
    text-align:center;
    }    

#trFriends td a:link 
{ 
color:White; 
} 
#trFriends td a:visited 
{ 
color:White; 
}