
<td style="FONT-WEIGHT:bold; COLOR:#fff; PADDING-TOP:20px" align="center">当前用户:@Page.User.Identity.Name <a style="COLOR: #fff" 
      href="" 
      target=main>修改口令</a> &nbsp;&nbsp; <a style="COLOR: #fff" 
      onclick="if (confirm('确定要退出吗？')) return true; else return false;" 
      href=@Url.Action("LogOff","User") target="top">退出系统</a> 
    </td>
